/*
GERAL
*/

body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	color: #4D4D4D;
}

h1, h2, h3 {
	margin: 0;
	font-family: "Roboto Slab",Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.botao {
	color: #F1F1F1F;
	text-decoration: none;
	padding: 5px 18px;
	background-color: #F1F1F1;
	color: #6a06b0;
	font-size: .9em;
	border-radius: 3px;
}

.botao:hover {
	background-color: #400d64;
	color: #F1F1F1;
}


/*
NAVEGAÇÃO
*/

nav {
	display: flex;
	flex-direction: column;
	align-items: center;	
	padding: 10px;
}

nav img{
	width: 190px;
	height: 70px;
	margin-left: -20px;
	float: left;
}

/*
CABEÇALHO
*/
header img{
	display: block;
	width: 170px;
	height: 170px;
	border-radius: 75px; /* redondo */
}

header {
	background-image: url('../img/fundo.jpg');
	background-size: cover;
	-webkit-filter: opacity(90%);filter: opacity(90%);
	background-position: center;
	background-repeat: no-repeat;
	color: #F1F1F1;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 90px;
}

header p {
	margin-bottom: 1.5em;
	text-shadow: 1px 1px 1px black;
}

header h1 {
	font-size: 31px;
	text-shadow: 1px 1px 1px black;
	font-family: "Roboto slab", serif, Arial;
}
/*
SOBRE
*/
#sobre {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: #6a06b0;
	color: #F1F1F1;
	padding: 90px;
}

#sobre p, ul {
	margin-bottom: 1.5em;
	letter-spacing: 1px;
	line-height: 23px;
	text-align: center;
}

#sobre ul li {
	list-style-type: none;
	text-align: justify;
}

#sobre .botao {
	background-color: #F1F1F1;
	color: #6a06b0;
	margin-top: 20px;
}

#sobre .botao:hover {
	background-color: #400d64;
	color: #F1F1F1;
}

/*
CONTATO
*/
#contato {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 40px;
}

#contato h2 {
	margin-top: -15px;
	margin-bottom: 30px;
}

#contato p {
	margin-bottom: -18px;
}
/*
RODAPÉ
*/
footer {
	text-align: center;
	padding: 3px;
	background-color: #4D4D4D;
	color: #F1F1F1;
	font-size: 13px;
}

/*
MEDIA QUERIES
*/

@media screen and (min-width: 768px) {
	/*
	NAVEGAÇÃO
	*/
	nav {
		flex-direction: row;
		justify-content: space-around;
	}

	nav ul {
		flex-direction: row;
		width: 70%;
	}

	/*
	CABEÇALHO
	*/
	header {
		height: 600px;
		height: 60vh;
		justify-content: center;
	}

	/*
	SOBRE
	*/
	
	#sobre {
		height: 250px;
		height: 30vh;
		justify-content: center;
		min-height: 250px;
	}
	/*
	SERVIÇOS
	*/

	#servicos {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		max-width: 1000px;
		margin: 0 auto;
	}
	
	#servicos h2 {
		text-align: center;
		width: 100%;
	}

	#servicos div {
		flex-grow: 1;
		flex-basis: 150px;
		padding: 0 10px;
	}

	/*
	PORTFOLIO
	*/
	
	#portfolio {
		flex-direction: row;
		flex-wrap: wrap;
	}

	#portfolio h2 {
		width: 100%;
		text-align: center;
	}

	#portfolio img {
		width: 33.33%;
	}

	/*
	CONTATO
	*/

	#contato {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		max-width: 500px;
		margin: 0 auto;
	}

	#contato h2,
	#contato p {
		width: 100%;
	}
}